$greybackground : #bdc3c7;
$whitebackground : #ecf0f1;
$whitebackgroundalternate : #dfdfdf;
$darkbackground : #22313F;
$primary : #3498db;
$secondary : #F7CA18;
$button : #00B16A;



$stdmargin : 10px;