$greybackground : #bdc3c7;
$whitebackground : #ecf0f1;
$whitebackgroundalternate : #dfdfdf;

$darkbackground : #F7CA18;
$darkbackgroundalternate : #F5D76E;

$primary : #19B5FE;
$secondary : #2574A9;
$button : #00B16A;




$stdmargin : 10px;